{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}
    <main id="team">

        

        {% for tatoueur in tatoueurs %}
            <article id="c-v">
                <div class="card">
                    <img src="{{ asset('uploads/images/' ~ user.imageName) }}" alt="Image de {{ user.name }}">
                    <h2>{{ user.name }}</h2>
                    <h3>style: {% for type in user.types %}
                                    {{ type.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                    </h3>
                    {# intégration d'un bouton pour afficher la bio #}
                </div>
            </article>
        {% endfor %}
    </main>
{% endblock %}
