{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {# {% if is_granted('ROLE_ADMIN') %} #}
        <main>
            <div id="form">
                {{form_start(userForm)}}
                    {{form_widget(userForm)}}
                    <button>ajout</button>
                {{form_end(userForm)}}
            </div>
        </main>
    {# {% endif %} #}

        

{% endblock %}