@use "../abstract/variable" as v;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#salon{
    background-color: black;
    background-image: url(/public/local_images/black-leather.png);
    height: 100vh;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #000000;
    background-image: url(/public/local_images/black-leather.png);
    background-repeat: repeat;
    padding: 1rem 0;
    transition: transform 0.3s ease-in-out;
    
    &.nav--hidden {
        transform: translateY(-100%);
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        a{
        font-family: 'roboto';
        text-transform: uppercase;
        font-size: 3rem;
        color: rgb(14, 53, 14);
        }
    }
    
}